# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/.vs
/out
/bin
/enc_temp_folder/c927f6287b4ba71854ec0d1a9226655
/src/pnguo/shaders/a_base3d.frag.spv
/src/pnguo/shaders/a_base3d.vert.spv
/src/pnguo/shaders/a_base3d_dsc.frag.spv
/src/pnguo/shaders/a_base3d_dsc.vert.spv
/src/pnguo/shaders/a_base3d_dsc_inst.frag.spv
/src/pnguo/shaders/a_base3d_dsc_inst.vert.spv
/src/pnguo/shaders/a_base3d_inst.frag.spv
/src/pnguo/shaders/a_base3d_inst.vert.spv
/src/pnguo/shaders/a_vg.frag.spv
/src/pnguo/shaders/a_vg.vert.spv
